.list {
  height: 100vh;
  min-width: 500px;
  background: #f5f5f5;;
  overflow: hidden;
}

.contents {
  height: calc(100% - 65px);
  overflow: scroll;
}

.list-theme {
  font-weight: bold;
  padding: 5px 10px;
}

.list-memo {
  background: white;
  border-radius: 4px;
  margin: 5px;
  padding: 5px;
}

.list-tags {
  display: flex;
  flex-wrap: wrap;
  padding: 0 3px;
}

.list-tag {
  padding: 5px;
  background: lightblue;
  margin: 2px;
  border-radius: 4px;
  font-size: 0.8em;
}
