.side {
  min-width: 200px;
  height: 100vh;
  background: #f5f5f5;
}

.side-head {
  height: 65px;
  background: #ddd;
  padding:10px;
}

.side-list {
  width: 100%;
  padding: 10px;
  height: calc(70% - 95px);
  overflow-x: hidden;
  overflow-y: scroll;
}
ul {
  position: absolute;
  background: rgba(220,220,255, 0.9);
  width: 100%;
  z-index: 10;
  border-radius: 4px;
  padding: 5px;
}

.date-list {  
  display:none;
  transition: 0.8s;  
}

.date-list ul {
  width: auto;
  word-wrap: normal;
}


.date:hover+.date-list {
  display:block;
  height: auto;
  padding: 5px;
  background: #fff5eb;
  opacity: 1;
}

.side-tags-head {
  width: 100%;
  background: #ddd;
  padding: 0 10px;
  height: 30px;
  line-height: 30px;
}

.side-tags-area {
  width: 200px;
  padding: 3px;
  height: 30%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.side-tags {
  display: flex;
  flex-wrap: wrap;
}