<div class="list">
  <div class="form-head">
  </div>

  <div class="contents">
    <% list_memos.each do |memo| %>
      <div class="list-theme"><%= link_to memo.theme, memo_path(memo.id) %></h2></div>
      <div class="list-memo"><%= simple_format(memo.text) %></div>
      <hr>
      <div class="list-tags">
        <% memo.tags.each do |tag| %>
          <div class="list-tag"><%=link_to tag.name, tag_memo_path(memo.id, tag: tag.id) %></div>
        <% end %>
      </div>
      <hr>
    <% end %>
  </div>
</div>