<div class="memo-body">
  <%= render partial: "memos/side", locals: { side_memos: @side_memos, tags: @tags } %>

  <div class="memo">
    <div class="form-head">
      <%= "#{@tag}のゼロ秒メモ" %>
    </div>
  
    <%= render partial: "memos/memo", locals: { memo: @memo } %>
  
  </div>

  <%= render partial: "memos/list_tag", locals: { list_memos: @list_memos, date: @date } %>
</div>